# Imports

In [37]:
import pandas as pd
import pingouin as pg

# Fluxos

1. Cadastro
2. Login
3. Inscrição da Vaga
4. Logout
5. Criação do Curso

# Teste AB

### Hipóteses

H0 = Aμ <= Bμ

H1 = Aμ > Bμ

### Separando dados

In [44]:
# Lendo dataframes
df_interface_a = pd.read_excel('../bases/Interface_A.xlsx')
df_interface_b = pd.read_excel('../bases/Interface_B.xlsx')

display(df_interface_b)

    Cadastro  Login  Inscrição da Vaga  Logout  Criação do Curso
0      20.40  18.08              23.95    4.76             38.11
1     152.88  10.66              11.61    7.50             28.05
2      33.75   3.24              22.24    8.66             12.25
3      92.81   7.99              12.85   25.06             25.41
4      33.15   3.67               9.78    6.03             24.05
5      44.09   4.19              12.08    6.24             15.70
6      44.09   4.19              12.08    6.24             15.70
7      14.95   4.67               5.09   19.44             66.98
8       9.95  14.46              11.76    9.55             30.44
9       6.32   3.85              11.07    6.44             17.86
10     28.13   7.25               7.93   15.06             35.92
11     46.30   3.85              13.63    4.05             33.73
12     62.18   3.98              17.44    6.13             14.04
13     23.49   8.95               9.98    6.13             19.19
14     32.55   3.48               6.29    5.05             21.92
15      4.53   4.36              13.30    6.27             19.98
16     29.01  16.59              10.15    5.21             22.44
17     21.10   6.65               7.05    5.55             30.32
18     14.77   5.67               4.82    5.65             17.42
19     26.21   7.06               5.09   10.61             22.63
20     23.57   4.47              10.07    4.00             43.22
21     37.69   4.15              10.53    8.67             22.45
22     35.04   6.17              10.87    5.49             21.57
23     49.98   6.78              16.66    3.18             21.27
24     25.32   3.44               2.88    5.59             11.52
25     24.55  11.49               3.79    4.69             20.39

### Calculando a média de tempo por usuário

In [39]:
# # Interface A
# medias_usuarios_a = []

# for i in range(len(df_interface_a)):
#     medias_usuarios_a.append(df_interface_a.loc[i].mean())

# # Média final da Interface A
# # media_interface_a = sum(medias_usuarios_a) / len(medias_usuarios_a)

In [40]:
# Interface B
medias_usuarios_b = []

for i in range(len(df_interface_b)):
    medias_usuarios_b.append(df_interface_b.loc[i].mean())

# Média final da Interface B
# media_interface_a = sum(medias_usuarios_b) / len(medias_usuarios_b)

In [41]:
medias_usuarios_a = [2.5, 3.0, 3.5, 4.0, 4.5]
# medias_usuarios_b = [3.5, 4.0, 4.5, 5.0, 5.5]

## Calculando teste T

### Realista

In [42]:
# Realizando o teste t com Pingouin
t_teste = pg.ttest(medias_usuarios_a, medias_usuarios_b, paired=False, alternative='less')

# Exibindo os resultados
print(t_teste[['T', 'p-val', 'dof']])

               T         p-val        dof
T-test -9.689832  1.096643e-10  27.637185

### Grau de liberdade

In [43]:
print("Grau de liberdade: ", t_teste[['dof']])

Grau de liberdade:                dof
T-test  27.637185

### Conservador